<p>dashboard works!</p>
<br><button (click)="test()">TEST</button>
<br><button (click)="printUID()">Print UID</button>
<br><button (click)="getFromDB()">Get from DB</button>
<div>
    <br>Add Category: <input type="text" [(ngModel)]="category">
    <button (click)="addCategory()" [disabled]="!category">Add</button>
</div>
<div>
    <button (click)="getCategories()">Get categories</button>
</div>
<br>
<div>
    <strong>Groups:</strong>
    <ul>
        <li *ngFor="let group of user?.groups">{{ group.name }}</li>
    </ul>
</div>
<br>
<div>
    Create Group: <input type="text" [(ngModel)]="group">
    <button (click)="createGroup()" [disabled]="!group">Create</button>
</div>
<br>
<div>
    <strong>Expenses:</strong>
    <br>
    List of Expenses:
    <ul>
        <li></li>
    </ul>
    <button>Add Expense</button>
</div>
<p>TODO: Create the Add Expense Modal</p>